@import "./index.css";


.addEuipment {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  background: var(--white);
}
.addEuipment h5{
  display: none;
  
}
.addEuipment-header {
  height: 70px;
  background-color: var(--primaryText);
  border-radius: 12px 12px 0 0;
  color: var(--white);
  padding: 18px 32px;
}

.addEuipment-header h4 {
  font-weight: 600;
  /* line-height: 22.4px; */
  letter-spacing: 0.02em;
  margin: 0;
}

.addEuipment-form {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  padding: 32px 32px 48px 32px;
  color: var(--primaryText);
  border-radius:0 0 12px 12px;
}


.addEuipment-form-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  margin-bottom: 12px;
}

.addEuipment-form input {
  border: 1px solid var(--borderColor);
  border-radius: 11px;
  outline: none;
  padding: 15px;
}

.addEuipment-form-col {
  margin-bottom: 32px;
}

.addEuipment-footer {
  height: 100px;
  border-radius: 0 0 12px 12px;
  border-top: 1.5px solid var(--borderColor);
  padding: 20px 32px;
  gap: 10px;
  background-color: var(--white);

}

.addEuipment-discard-btn {
  width: 218px;
  height: 60px;
  border-radius: 12px;
  border: 1px solid var(--primaryRed);
  background-color: var(--white);
  color: var(--primaryRed);
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.02px;
  margin-right: 32px;
}

.addEuipment-update-btn {
  width: 218px;
  height: 60px;
  color: var(--white);
  background-color: var(--primaryRed);
  border-radius: 12px;
  border: 1px solid var(--primaryRed);
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.02px;
}

.addEquipment-file-input{
  visibility: hidden;
}


.addEquipment-file {
  width: 100%;
  position: relative;
  display: inline-block;
  cursor: pointer;

}


.addEquipmen-file-custom {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding: 14px 20px;
  line-height: 1.5;
  color: #555;
  background-color: #ffffff;
  border: 0.5px solid var(--borderColor);
  border-radius: 12px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.addEquipmen-file-custom:after {
  content: "Choose file...";
}
.addEquipmen-file-custom:before {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  content: "Browse";
  padding: 14px 20px;
  line-height: 1.5;
  color: #555;
  background-color: #eee;
  border-radius: 0 11px 11px 0;
}

.addEuipment-form input[type="file"]{
  width:100%
}

.equipment-group{
  position: relative;
}
.equipment-group-icon{
  position: absolute;
  top: 45px;
  right: 30px;
}

.add-variables{
  border: 1px solid var(--borderColor);
  margin-top: 33px;
  border-radius: 8px;
}

.variable-header{
  height: 50px;
  background-color: var(--bgColor);
  border-radius: 4px 4px 0 0;
  padding: 16px 20px

}

.variable-body{
  padding: 20px 

}

.delete-variable{
 align-content: end;

}
.delete-variable span{
  display: inline-block;
  background-color: var(--redfill);
  padding: 15px;
  border-radius: 12px;
 
}

.delete-variable span img{
  width: 32px;
  height: 32px;
}


.profileSetting-footer {
  height: 92px;
  border-radius: 0 0 12px 12px;
  border-top: 1.5px solid var(--borderColor);
  padding: 16px 32px;
}

.profileSetting-name{
  /* height: 92px;
  padding: 24px 32px; */
  background-color: var(--white);
  border-radius: 12px;
}

.profileSetting-pic{
  width: 48px;
  height: 48px;
  border-radius: 8px;
}
.variable-unit{
  width: 100%;
}

@media only screen and (max-width:990px){
  .addEuipment-form input[type="file"]{
    width:50%
  }
  .assest-icon{
    margin-bottom: 16px;
  }
  .addEuipment h5{
    display: block;
  }
 
  
}

@media only screen and (max-width:576px) {
  .assest-icon{
    margin-bottom: 32px;
  }
  .variable-unit{
    width: 70%;
  }

  .addEuipment-footer{
    display: flex;
    align-items: center;
  }
  .addEuipment-discard-btn {
    height: 50px;
    width:150px;
    font-size: 14px;
    font-weight: 500;
    margin-right: 16px;
  }
  .addEuipment-update-btn{
    height: 50px;
    width:150px;
    font-size: 14px;
    font-weight: 500;
  }
}