@import "./index.css";

.container {
  max-width: 1440px;
  height: 100vh; 
  background-color: var(--white);
}

.resp-img {
  height: 100%;
  position: relative;
}

.resp-img-img {
  width: 100%;
  height: 85vh;
  object-fit: cover;
  object-position: unset;
  border-radius: 12px;
}

.signIn-card h2 {
  font-weight: 600;
  font-size: 32px;
  line-height: 44.8px;
  letter-spacing: 2%;
  color: var(--primaryText);
}

.signIn-card p {
  font-weight: 400;
  font-size: 16px;
  line-height: 21.12px;
  letter-spacing: 2%;
  margin-bottom: 32px;
}

.signin-form {
  height: auto;
  padding: 32px;
  border-radius: 12px;
  gap: 10px;
  border: 1px solid var(#e6e6e7);
  background-color: var(--bgColor);
}

.signin-form-label {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 16px;
}
.signin-form-input {
  height: 60px;
  border: 1px solid grey;
  border-radius: 11px;
  outline: none;
  padding: 16px;
}

.signin-form-fp-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18.48px;
  letter-spacing: 2%;
  text-align: end;
}

.signin-form a {
  text-decoration: none;
  color: var(--primaryText);
}

.signin-form-button {
  width: 100%;
  height: 60px;
  border: 1px solid rgba(212, 33, 36, 1);
  background-color: rgba(212, 33, 36, 1);
  color: var(--white);
  font-size: 18px;
  letter-spacing: 0.02px;
  font-weight: 400;
  border-radius: 12px;
}

.signin-footer {
  width: 1320px;
  height: 24px;
  position: absolute;
  top: 958px;
  left: 40px;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.76px;
  letter-spacing: 2%;
}

.email-p {
  position: absolute;
  top: 34px;
  right: 1px;
  width: 30.5%;
  background-color: rgb(236, 236, 236);
  height: 57px;
  border-radius: 0 12px 12px 0;
  text-align: center;
  padding-top: 15px;
}

.banner-text1 {
  font-weight: 600;
  line-height: 50.4px;
  letter-spacing: 2%;
  color: white;
}
.banner-text2 {
  font-weight: 600;
  line-height: 39.2px;
  letter-spacing: 2%;
  color: white;
}

.banner-logo {
  position: absolute;
  top: 50px;
  left: 45px;
}

.banner-text-container {
  position: absolute;
  bottom: 7%;
  left: 45px;
  gap: 8px;
  width: 85%;
}

.mobile-logo {
  display: none;
  width: 150px;
  height: 40%;
  width: 50%;
  position: absolute;
  top: 16%;
  left: 25%;
}

.desktop-logo {
  display: block;
}

.mobile-header {
  display: none;
}

@media only screen and (max-width: 992px) {
  .resp-img {
    display: none;
  }
  img.main_banner_img {
    width: 100% !important;
  }
  .banner-text-container {
    display: none;
  }
  .mobile-logo {
    display: block;
  }
  .desktop-logo {
    display: none;
  }
  .mobile-header {
    display: block;
  }
  
  
}


@media only screen and (max-width: 576px) {
  .email-p {
    width: 50%;
    padding-top: 17px;
    font-size: 12px !important;
  }
  .signin-form-label{
    font-size: 14px;
  }

  .sign-footer-text {
    margin-top: 80px;
    flex-direction: column;
    text-align: center;
    font-size: 14px;
  }
  .sign-footer-text-1 {
    justify-content: center !important;
    gap: 2;
  }
  .signIn-card h2 {
    font-size: 24px;
  }
  .signIn-card p{
    font-size: 14px;
  }
  .signin-form-button{
    height: 45px;
  }
  .sign-footer-text-fp{
    margin-top: 142px;
    flex-direction: column;
    text-align: center;
    font-size: 14px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .banner-text1 {
    font-size: 28px;
  }
  .banner-text2 {
    font-size: 24px;
  }
  .email-p {
    width: 40%;
    padding-top: 17px;
    font-size: 14px !important;
  }
}
/* password Eye CSS */
.password-icon {
  float: right;
  margin-left: -35px;
  margin-top: -36px;
  position: relative;
  z-index: 2;
  left: -10px;
}
