@import "tailwindcss";


/* primarty: [#8A0000];
hover: #a80606; */


/* src/index.css or src/App.css */

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #8a0000; /* Your red color */
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #b30000;
  
}
