@import "tailwindcss";

@font-face {
  font-family: 'NotoSans';
  src: url('./assets/Noto_Sans/static/NotoSans-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}
*{
    font-family: NotoSans;
}
html,
body,
#root {
  height: 100%;
}
.main-font{
  @apply text-[13px]

}
.navbarmenu-text {
  @apply text-gray-700 hover:text-blue-600 font-semibold text-[13px] flex gap-1 items-center;
}
.navbarmenu-subtext {
  @apply flex items-center gap-2 p-2 px-4 mb-1 text-[13px] hover:bg-blue-50 hover:text-blue-500;
}
.navbarright-icons{
  @apply relative text-gray-600 hover:text-blue-600 focus:outline-none border-1 p-1 rounded-lg border-slate-300;
}
.dashboardcard{
  @apply border-2 border-gray-200 p-2 rounded-lg py-4 hover:border-indigo-300 duration-300;
}
.dashboardcard-linktext{
  @apply text-[13px] mt-2 text-indigo-500 hover:text-indigo-700 cursor-pointer;
}

/*-------------------------------------------------Tag-configuration--------------------------------------------*/
.tablehead{
  @apply text-left px-4 py-2 text-[13px] font-medium text-white
}
.tabledata{
  @apply  px-4 py-2 text-[13px] text-gray-900}
/*-------------------------------------------------SubmitJob--------------------------------------------*/
.jobtablehead{
  @apply w-[14.28%] px-4 py-2 text-left text-[13px] font-medium
  
}
.jobtabledata{
  @apply px-4 py-2 text-[13px] text-gray-900
}


