@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@import "tailwindcss";

html {
	font-family: 'Inter', sans-serif;
	font-size: 15px;
}

body {
	font-family: inherit;
	font-size: inherit;
	color: #1e293b;
}