@import "./index.css";

.table {
  margin: 0;
}

.table-responsive {
  margin: 16px 0;
  border: 1px solid var(--borderColor);
  border-radius: 16px 16px 0 0;
}

.table-head {
  background-color: var(--header);
  height: 64px;
  color: var(--white);
  padding: auto;
}

.table-text td {
  height: 64px;
}

.table-striped > tbody > tr:nth-child(even) > td,
tr.found {
  background-color: #f9fafc;
}

.switcher {
  position: relative;
  top: 2px;
}

label.switch1 {
  width: 40px;
  height: 22px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch1 .slider.round {
  border: 2px solid #5d616c;
}
.switch1 .slider {
  border: 2px solid #5d616c;
}
.slider.round {
  border-radius: 34px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #5d616c;
  box-shadow: unset;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switch1 .slider:before {
  height: 15px;
  width: 15px;
  top: 2px;
  left: 2.5px;
}
.slider.round:before {
  border-radius: 50%;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 0px;
  top: 2px;
  background-color: #fffcfc00;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: 2.5px solid #5d616c;
}

input:checked + .slider:before {
  background: #d42124;
  border: 2px solid #d42124;
  /* left: 20px; */
}

.select-field {
  border: 1px solid #e6e6e7;
  background: #ffffff;
  padding: 11px 16px;
  border-radius: 12px;
  height: 48px;
  width: 180px;
  align-content: center;
}
.select-li a{
  color: #595959;
  text-decoration: none;
  font-size: 18px;
  line-height: 132%;
  letter-spacing: 2%;
}

.show-breadcrumb a{
  list-style: none;
  text-decoration: none;
  color: var(--primaryRed);


}

.permission-dropdown{
  display: block;
}


