@import "./index.css";

.tb-header {
  background: var(--header);
  color: var(--white);
  height: 64px;
  border-radius: 12px 12px 0 0;
}

.showmenu {
  display: none;
}

.tb-search-div {
  position: relative;
}

.tg-search-icon {
  position: absolute;
  top: 10px;
  left: 10px;
}

.tb-search-input {
  width: 100%;
  padding: 8px 35px;
  outline: none;
  border: var(--borderColor);
  border-radius: 8px;
}

.tb-save-btn {
  position: absolute;
  outline: none;
  top: 0;
  right: 0;
  background-color: var(--primaryRed);
  color: var(--white);
  border: 1px solid var(--primaryRed);
  padding: 7px;
  border-radius: 0 8px 8px 0;
}

.ballmill input {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--borderColor);
  border-radius: 8px;
}

.billmill-btn {
  width: 90%;
  height: 48px;
  border: 1px solid var(--primaryRed);
  background-color: var(--primaryRed);
  border-radius: 12px;
  color: var(--white);
}

/* accordian */
.tb-accordion-item-bill-mill {
  border-bottom: 1px solid var(--borderColor);
}

.tb-accordion-item {
  border-bottom: 1px solid var(--borderColor);
}

.tb-accordion-button {
  padding: 16px 0;
}

.tb-accordion-button::after {
  content: "";
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-body {
  padding: 16px 0;
}

.accordion-button:focus {
  border: none;
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  color: var(--primaryText);
  border: none;
  box-shadow: none;
  background-color: white;
}

.accordion-button:not(.collapsed)::after {
  background-image: none;
  display: none;
}

.tb-accordion-body {
  background-color: var(--bgColor);

}

.tb-accordion-body span {
  width: 112px;
  height: 44px;
  border: 1px solid var(--redfill);
  border-radius: 8px;
  background-color: var(--white);
}

.billmill-form {
  border: 0px solid var(--borderColor);
  background: var(--bgColor);
}

#showMenu {
  cursor: pointer;
}

#hideMenu {
  cursor: pointer;
}

.template-breadcrumb li a {
  text-decoration: none;
  font-size: 18px;
  color: #5D616C;
}

.template-breadcrumb .active {
  color: #D42124;
}

.show-breadcrumb {
  display: block;
}

/* scroll */

.tb-container {
  height: 805px;
  max-width: 1440px;
  padding: 0px 40px;
  margin: 0 auto;
  position: relative;
  background: var(--bgColor);
  overflow-x: scroll;
  scrollbar-width: none;
}

.left {
  position: absolute;
  top: 18.9%;
  bottom: 0;
  width: 20%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
  background: #F9F9F9;
  border: 1px solid #E6E6E7;
}

.right {
  position: absolute;
  top: 18.9%;
  right: 2%;
  bottom: 0;
  overflow-y: scroll;
  width: 20%;
  scroll-behavior: smooth;
  scrollbar-width: none;
  background: #F9F9F9;
  border: 1px solid #E6E6E7;
}


.tb-responsive {
  margin: 0 auto;
  /* width: 1440px; */
  height: 800px;
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;

}

/* Navbar Scrolling CSS */
@media only screen and (max-width: 728px) {
  .tmp-bldr-hd {
    position: fixed;
    width: 100%;
  }

  .templatebuilder-body {
    display: block;
    width: 1440px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    top: 100px;
  }

}

@media only screen and (max-width: 1028px) {
  .tmp-bldr-hd {
    position: fixed;
    width: 100%;
  }

  .templatebuilder-body {
    display: block;
    width: 1440px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    top: 100px;
  }

}

/* Modal Class CSS */
.accordion-tabs {
  background-color: var(--bgColor);
}

/* tab icon rotate Core styles/functionality */
.ac-tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.tab__content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.35s;
}

.ac-tab input:checked~.tab__content {
  max-height: 16rem;
}

/* Visual styles */
.template-accordion {
  color: var(--theme);
  border: 1px solid var(--Border-Color, #E6E6E7);
  border-radius: 0rem;
  overflow: hidden;
}

.tab__label,
.tab__close {
  display: flex;
  color: rgb(0, 0, 0);
  border-bottom: 1px solid var(--Border-Color, #E6E6E7);
  background: var(--white-100, #FFF);
  cursor: pointer;
}

.tab__label {
  justify-content: space-between;
  padding: 1rem;
}

.tab__label::after {
  content: "\276F";
  background: url();
  width: 1em;
  height: 1em;
  text-align: center;
  transform: rotate(0deg);
  transition: all 0.35s;
  color: #D42124;
}

.ac-tab input:checked+.tab__label::after {
  transform: rotate(90deg);
}

.tab__content p {
  margin: 0;
  padding: 1rem;
}

.tab__close {
  justify-content: flex-end;
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
}

.accordion--radio {
  --theme: var(--secondary);
}

/* Side bar accordion */
.accordion-button:not(.collapsed) .icon-rotate {
  transform: rotate(90deg);
  transition: transform 0.3s ease;
}

/* Optional: Ensure arrow points right when accordion is collapsed */
.accordion-button.collapsed .icon-rotate {
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}